In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
df = pd.read_csv('df_complete.csv')

In [3]:
df.head()

,track_uri,track,artist,artist_popularity,followers,artist_genre,track_popularity,album,year,danceability,valence,energy,tempo,loudness,speechiness,instrumentalness,liveness,acousticness,key
0,6DCZcSspjsKoFjzjrWoCdn,God's Plan,Drake,97,70260570,"['canadian hip hop', 'canadian pop', 'hip hop'...",83,Scorpion,2018,0.754,0.357,0.449,77.169,-9.211,0.1090,0.000083,0.5520,0.0332,7
1,0e7ipj03S05BNilyu5bRzt,rockstar (feat. 21 Savage),Post Malone,89,39233698,"['dfw rap', 'melodic rap', 'rap']",83,beerbongs & bentleys,2018,0.585,0.129,0.520,159.801,-6.136,0.0712,0.000070,0.1310,0.1240,5
2,09mEdoA6zrmBPgTEN5qXmN,Call Out My Name,The Weeknd,96,55208147,"['canadian contemporary r&b', 'canadian pop', ...",88,"My Dear Melancholy,",2018,0.461,0.175,0.593,134.170,-4.954,0.0356,0.000000,0.3070,0.1700,1
3,0u2P5u6lvoDfwTYjAADbn4,lovely (with Khalid),Billie Eilish,89,73989789,"['art pop', 'electropop', 'pop']",88,lovely (with Khalid),2018,0.351,0.120,0.296,115.284,-10.109,0.0333,0.000000,0.0950,0.9340,4
4,7ef4DlsgrMEH11cDZd32M6,One Kiss (with Dua Lipa),Calvin Harris,85,23066688,"['dance pop', 'edm', 'electro house', 'house',...",87,One Kiss (with Dua Lipa),2018,0.791,0.592,0.862,123.994,-3.240,0.1100,0.000022,0.0814,0.0370,9

In [4]:
con = sqlite3.connect('db')

In [5]:
df.to_sql('spotify',con,index=False,if_exists='replace')

500

In [6]:
def select(sql):
    return pd.read_sql(sql,con)

In [43]:
sql = '''select artist,artist_popularity,year from spotify
where artist = 'Bad Bunny'

'''

In [44]:
select(sql)

      artist  artist_popularity  year
0  Bad Bunny                100  2019
1  Bad Bunny                100  2019
2  Bad Bunny                100  2020
3  Bad Bunny                100  2020
4  Bad Bunny                100  2021
5  Bad Bunny                100  2021
6  Bad Bunny                100  2021
7  Bad Bunny                100  2022
8  Bad Bunny                100  2022

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   track_uri          500 non-null    object
 1   track              500 non-null    object
 2   artist             500 non-null    object
 3   artist_popularity  500 non-null    int64
 4   followers          500 non-null    int64
 5   artist_genre       500 non-null    object
 6   track_popularity   500 non-null    int64
 7   album              500 non-null    object
 8   year               500 non-null    int64
 9   danceability       500 non-null    float64
 10  valence            500 non-null    float64
 11  energy             500 non-null    float64
 12  tempo              500 non-null    float64
 13  loudness           500 non-null    float64
 14  speechiness        500 non-null    float64
 15  instrumentalness   500 non-null    float64
 16  liveness           500 non-null    float64
 17  acousticness       500 non-null    float64
 18  key                500 non-null    int64
dtypes: float64(9), int64(5), object(5)
memory usage: 74.3+ KB

In [10]:
df.columns

Index(['track_uri', 'track', 'artist', 'artist_popularity', 'followers',
       'artist_genre', 'track_popularity', 'album', 'year', 'danceability',
       'valence', 'energy', 'tempo', 'loudness', 'speechiness',
       'instrumentalness', 'liveness', 'acousticness', 'key'],
      dtype='object')

In [46]:
sql = '''select artist,track,year,max(artist_popularity) as pp from spotify
group by year
order by year DESC
'''

**Most popular artist by years**

In [47]:
select(sql)

         artist             track  year   pp
0     Bad Bunny  Tití Me Preguntó  2022  100
1     Bad Bunny            DÁKITI  2021  100
2     Bad Bunny            DÁKITI  2020  100
3     Bad Bunny          Callaita  2019  100
4  Taylor Swift          Delicate  2018   99

In [52]:
sql = '''select artist,year,max(track_popularity) as pp2,min(track_popularity) as pp from spotify
group by year
order by year DESC
'''

In [53]:
select(sql)

                artist  year  pp2  pp
0          Nicky Youre  2022   98   6
1                Lorde  2021   90   1
2                  BTS  2020   88   0
3  5 Seconds of Summer  2019   88  67
4              Cardi B  2018   88  67

In [57]:
sql = '''select * from spotify
where artist = 'Sam Smith' and year = 2022
order by track_popularity DESC'''

In [58]:
select(sql)

,track_uri,track,artist,artist_popularity,followers,artist_genre,track_popularity,album,year,danceability,valence,energy,tempo,loudness,speechiness,instrumentalness,liveness,acousticness,key
0,3nqQXoyQOWXiESFLlDF1hG,Unholy (feat. Kim Petras),Sam Smith,89,21167020,"['pop', 'uk pop']",98,Unholy (feat. Kim Petras),2022,0.714,0.238,0.472,131.121,-7.375,0.0864,0.000005,0.266,0.013,2